discovery.docker "containers" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "app_logs" {
  targets = discovery.docker.containers.targets

  rule {
    source_labels = ["__meta_docker_container_name"]
    action        = "keep"
    regex         = "/(library-backend|library-frontend)"
  }

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.*)"
    target_label  = "container"
  }

  rule {
    target_label = "instance"
    replacement  = "{{ inventory_hostname }}"
  }

  rule {
    target_label = "job"
    replacement  = "docker"
  }
}

loki.source.docker "app_logs" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.relabel.app_logs.output
  forward_to = [loki.write.central.receiver]
}

loki.write "central" {
  endpoint {
    url = "{{ alloy_loki_url }}"
  }
}
