global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets:
          - "localhost:9090"

  - job_name: "node"
    ec2_sd_configs:
      - region: {{ prometheus_region }}
        port: 9100
        filters:
          - name: tag:Project
            values:
              - {{ prometheus_project_tag }}
          - name: tag:Monitoring
            values:
              - enabled
          - name: instance-state-name
            values:
              - running

    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance
      - source_labels: [__meta_ec2_tag_Role]
        target_label: role
      - source_labels: [__meta_ec2_availability_zone]
        target_label: availability_zone
      - source_labels: [__meta_ec2_instance_id]
        target_label: ec2_instance_id

  - job_name: "cadvisor"
    ec2_sd_configs:
      - region: {{ prometheus_region }}
        port: 8080
        filters:
          - name: tag:Project
            values:
              - {{ prometheus_project_tag }}
          - name: tag:Role
            values:
              - application
          - name: instance-state-name
            values:
              - running

    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance

      - source_labels: [__meta_ec2_tag_Name]
        target_label: node

      - source_labels: [__meta_ec2_instance_id]
        target_label: ec2_instance_id

      - source_labels: [__meta_ec2_availability_zone]
        target_label: availability_zone

    metric_relabel_configs:
      - source_labels: [container_label_com_docker_compose_service]
        target_label: service

      - source_labels: [name]
        target_label: container

  - job_name: "backend"
    metrics_path: /metrics

    ec2_sd_configs:
      - region: {{ prometheus_region }}
        port: 5000
        filters:
          - name: tag:Project
            values:
              - {{ prometheus_project_tag }}
          - name: tag:Role
            values:
              - application
          - name: instance-state-name
            values:
              - running

    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance

      - source_labels: [__meta_ec2_instance_id]
        target_label: ec2_instance_id

      - source_labels: [__meta_ec2_availability_zone]
        target_label: availability_zone

  - job_name: "mysql"
    static_configs:
      - targets:
          - "{{ prometheus_db_target }}"
        labels:
          instance: "db-server"

  - job_name: "blackbox"
    metrics_path: /probe
    params:
      module:
        - http_2xx

    static_configs:
      - targets:
          - "{{ prometheus_blackbox_target }}"

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target

      - source_labels: [__param_target]
        target_label: target

      - target_label: __address__
        replacement: "{{ prometheus_blackbox_exporter_target }}"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "{{ prometheus_alertmanager_target }}"

rule_files:
  - "/etc/prometheus/alert_rules.yml"
