global:
  resolve_timeout: 5m

  smtp_smarthost: "smtp.gmail.com:587"
  smtp_from: "{{ alertmanager_smtp_from }}"
  smtp_auth_username: "{{ alertmanager_smtp_username }}"
  smtp_auth_password_file: "/etc/alertmanager/gmail_app_password"
  smtp_require_tls: true

route:
  receiver: "gmail-alerts"
  group_by:
    - alertname
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

receivers:
  - name: "gmail-alerts"
    email_configs:
      - to: "{{ alertmanager_email_to }}"
        send_resolved: true
